.container-fluid {
    padding: 30px;
}

p {
    font-size: 13px;
    font-weight: 700;
    color: #aaabb3;
    letter-spacing: 1px;
    text-align: start;
    left: 30px;
    margin-bottom: 10px;
}

h1 {
    color: #272e41;
    letter-spacing: 0.5px;
    font-weight: 700;
    text-align: start;
}

img, .btn-notificaciones {
    width: 80px;
    height: 80px;
    border-radius: 30px;    
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}



.right {
    display: flex;
    justify-content: flex-end;
}

.btn-notificaciones {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    
    svg {
        fill: #272e41;
    }
}

.btn-notificaciones svg {
    transition: transform 0.3s ease-in-out;
  }
  
  .btn-notificaciones.animate svg {
    animation: giro 2s linear infinite;
  }
  
  @keyframes giro {
    0% {
      transform: rotateZ(0deg);
    }
    25% {
      transform: rotateZ(-10deg); /* Girar a la izquierda */
    }
    50% {
      transform: rotateZ(0deg); /* Volver a la posición inicial */
    }
    75% {
      transform: rotateZ(10deg); /* Girar a la derecha */
    }
    100% {
      transform: rotateZ(0deg); /* Volver a la posición inicial */
    }
  }

.col-lg-3 {
    width: 185px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;

    p {
        font-size: 20px;
        font-weight: 500;
    }
}

.dataContainer {
    cursor: pointer;
    width: 250px;
    height: 250px;
    background-size: cover; /* La imagen cubrirá todo el div */
    background-repeat: no-repeat; /* Evitará que la imagen se repita */
    background-position: center; /* Centrará la imagen en el div */
    border-radius: 45px;
    box-shadow: 0 4px 8px 0 rgba(28, 228, 199, 0.5), 0 6px 20px 0 rgba(36, 208, 232, 0.5);

    p {
        margin-top: 25px;
        margin-left: 10px;
        font-size: 20px;
        font-weight: 500;
        color: white;
    }

    h1 {
        font-size: 60px;
        font-weight: 500;
        margin-left: 10px;
        margin-top: 110px;
        color: white;
    }
}

.sinIMG {
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);

    p {
        color: #272e41;
    }
}

.grafic-container {
    position: relative;
    height: 140px;
    margin-bottom: 80px;

    h2 {
        font-size: 20px;
        margin-top: -40px;
        width: 100%;
        position: absolute;
    }
}
